[main]
inputFolder="/roms"
artworkXml="artwork.xml"
cacheMarquees="false"
cacheTextures="false"
relativePaths="true"
gameListBackup="false"
nameTemplate="%t"
frontend="emulationstation"

[screenscraper]
#userCreds="USERNAME:PASSWORD"
