[main]
artworkXml="artwork.xml"
cacheMarquees="false"
cacheTextures="false"
frontend="emulationstation"
gameListBackup="false"
inputFolder="/roms"
nameTemplate="%t"
relativePaths="true"

[screenscraper]
#userCreds="USERNAME:PASSWORD"
